name: Browser RDP (Chrome Remote Desktop)

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
    - name: Download Chrome Remote Desktop
      run: |
        Invoke-WebRequest https://dl.google.com/edgedl/chrome-remote-desktop/chromeremotedesktophost.msi -OutFile crd.msi

    - name: Install Chrome Remote Desktop
      run: |
        Start-Process msiexec.exe -ArgumentList '/i crd.msi /qn' -Wait

    - name: Activate RDP Session
      env:
        # هنا التغيير: نمرر الكود كمتغير بيئي لمنع أخطاء الكتابة
        GOOGLE_COMMAND: ${{ secrets.CRD_CODE }}
      shell: powershell
      run: |
        # استدعاء الكود من المتغير
        $command = $env:GOOGLE_COMMAND
        # إضافة البن كود (الرقم السري) للأمر
        $finalCommand = "$command -pin=123456"
        # تشغيل الأمر
        Invoke-Expression $finalCommand

    - name: Keep Alive
      run: |
        Write-Host "==================================================="
        Write-Host "Success! Go to: https://remotedesktop.google.com/access"
        Write-Host "PIN Code: 123456"
        Write-Host "==================================================="
        while ($true) {
          Start-Sleep -Seconds 60
        }
